footer.page-footer.font-small.blue.fixed-bottom
  .footer-copyright.text-center.py-3
    | Icons made by 
    a(href='https://www.flaticon.com/authors/geotatah' title='geotatah') geotatah
    |  from 
    a(href='https://www.flaticon.com/' title='Flaticon') www.flaticon.com
