extends layout
block content
  .container
      h1.text-center Trade CFDs
      h5.text-center The next best solutions for your investment and trading in Assets
      h5.text-center Login
      h5.text-center 
        a(href='/register') Register