extends ../layout
block content
    h1 Register
    h2 Email
    input#email(type="email", name="email" placeholder="Email...")
    h2 Username
    input#username(type="text", name="username" placeholder="Username here...")
    h2 Password
    input#password(type="password", name="password" placeholder="Password here...")
    input(type="submit", value="Submit")